body {
    background-color: #25021a;
    background-image: url("img/pattern-lines-hero.svg");
    background-position: center;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 300px auto;
    width: 100%;
    max-width: 1000px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background: rgb(255, 0, 191);
    font-style: italic;
}

.bg-grey {
    background-color: #f4dbff;
}